* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Стили для шапки */
.header {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_admin {
    font-size: 18px;
    font-weight: bold;
}

.header_login {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.header_login:hover {
    color: #ff0000;
}

/* Стили для основного контента */
.content {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

.content_title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

/* Стили для карточек */
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_title {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000;
}

.card_text {
    color: #666;
    line-height: 1.5;
} 
/*Смена пароля*/
.login-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #e8e8e8;
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #000;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.user-type {
    margin-bottom: 20px;
    font-size: 16px;
}

.admin {
    color: #ff0000;
}

.user {
    color: #000;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #4b4b4b;
    font-size: 14px;
}

.required {
    color: #ff0000;
    font-size: 12px;
    margin-left: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
} 